<center>
    <img src="https://cf-courses-data.s3.us.cloud-object-storage.appdomain.cloud/IBMDeveloperSkillsNetwork-DS0105EN-SkillsNetwork/labs/Module2/images/SN_web_lightmode.png" width="300" alt="cognitiveclass.ai logo">
</center>

#### Add your code below following the instructions given in the course

|Exercise 1:| Create a Jupyter Notebook called DataScienceEcosystem|
|----|----|

|Exercise 2: | Create a markdown cell with the given title and style|
|----|---|
| Title:| "Data Science Tools and Ecosystem|
| Style: | H1 heading

# Data Science Tools and Ecosystem

| Exercise 3: | Create a markdown cell with an introduction for the notebook|
|-----|-----|

This is the final project from the "Tools for Data Science" course created by IBM. Although this course is hosted on various platforms, I took this course on Coursera. 


In this Jupyter Notebook, I will summarize the Data Science Tools and Ecosystem that I learned about in the course.

|Exercise 4: | Create a markdown cell to list the data science languages|
|----|----|
|Style: | Ordered List|
|Contents: | At least 3 commonly used languages|

Three of the most commonly used languages that Data Scientists use are: 
1. Python 
2. R
3. SQL

but there are other languages spevific features such as 

4. Java
5. Scala
6. C++
7. Julia

are also popular.

|Exercise 5: | Create a markdown cell to list the data science libraries|
|---|---|
|Style:| Ordered List |
|Contents:| Must contain at least three commonly used Libraries|

Although there are many Python libraries used by data scientists, some of the more common ones are listed below:

Scientific Computing Libraries
1. Pandas
2. NumPy
3. Matplotlib
4. SciPy

Data Visualization Libraries: 

5. Matplotlib (again)
6. Plotly
7. Seaborn

Artifical Intelligence Libraries:

8. Scikit-learn
9. TensorFlow
10. PyTorch
11. Keras


There are also many different libraries using in other common languages. For example in R many people use libraries such as:
1. dplyr - for manipulating data
1. stringr - for manpulating strings
1. ggplot - for data visualizations
1. caret - for machine learning

|Exercise 6: |Create a markdown cell with a table of Data Science Tools|
|---|---|
|Format:| Single Column table|
|Header: |"Data Science Tools"|
|Contents:| Three open source development environment tools|

|Data Science Tools|
|---|
|Jupyter Notebook|
|Jupyter Lab|
|RStudio|

|Exercise 7: | Create a markdown cell introducing arithmetic expression examples using|
|---|---|
|Style: | H3 heading

### Below are a few examples of evaluating arithmetic expressions in Python:

|Exercise 8:| Create a code cell to multiply and add numbers|
|---|---|
|Expression:| (3*4)+5|

In [1]:
# This is a simple arithmetic expression
# involving multiplication and addition

(3*4)+5

17

|Exercise 9:| Create a code cell to convert minutes to hours|
|---|---|
|Calculation:| Convert 200 mins into hours|

In [2]:
# This is a simple expression that will 
# convert 200 minutes into hours

200/60

3.3333333333333335

In [7]:
# Although we have a simple code for this expression
# Converting from minutes to hours feels like a job for a function
# The following function will convert minutes to hours


def min2hour( minutes):
    hours = minutes/60
    return hours

# now to evaluate this function at 200 mins
min2hour(200)

3.3333333333333335

| Exercise 10: |  Insert a markdown cell to list objectives|
|----|---|
|Format:| Objectives: in bold font|
| | An unordered list to indicate 3-5 objectives in this notebook|

**Objectives:**
- List Popular Data Science Languages
- List Popular Data Science Libraries
- Demonstrate the ability to work with markdown cells doing things such as
            - - - Headers - - 
            - Tables - -
            - Unordered and Ordered Lists - -
            - Bolding of Texts - - -
- Do basic arithmetic calculations in code cells

|Exercise 11: | Create an Authors markdown cell|
|---|---|
|Format: | "Author" in H2 heading style|
| | Include your name in regular text below the word "Author"

## Author
Kileen Berry

|Exercise 12: | Share your notebook through GitHub|
|----|----|
|| Share your notebook through GitHub|
|| You will need to submit the link  as part of the assignment evaluation|

|Exercise 13:| Take a screenshot of the first page of the notebook|
|---|---|